{
  "extends": [
    "eslint-config-sumikko",
    "eslint-config-sumikko/ts",
    "next",
    "eslint-config-sumikko/prettier"
  ],
  "rules": {
    "node/no-unpublished-import": 0,
    "arrow-body-style": 0,
    "react/display-name": 0
  }
}
