.base {
  top: 0;
  left: 0;
  clip-path: polygon(
    0% var(--gi-clip-top, 0%),
    100% var(--gi-clip-top, 0%),
    100% var(--gi-clip-bottom, 100%),
    0% var(--gi-clip-bottom, 100%)
  );
}

.glitch {
  left: var(--left, 0);
  filter: blur(1px) brightness(1.1);
}

.red {
  filter: blur(1px) hue-rotate(310deg);
  transform: translateX(5px);
}

.blue {
  filter: blur(1px) hue-rotate(230deg);
  transform: translateX(-5px);
}
